.highlight{
	color: red;
}
html,body{
	padding: 0;
	margin: 0;
	background-color: #000;
	font: 15px 'Microsoft YaHei';
	color: #fff;
}
a{
	color: #fff;
	text-decoration: none;
}

/*=====首屏开始=====*/
#typeList .tListT{
	max-width: 704px;		
	margin: 0 auto;
	padding: 15px 24px;
	background-color: #000;
	font: 15px 'Microsoft YaHei';
	color: #fff;
}
#typeList .tList{
	max-width: 704px;		
	margin: 0 auto;
	padding: 0 24px;
	background-color: #1f1f1f;
	color: #a4a4a4;
}
#typeList .tList li{
	/*margin: 34px 0;*/
	/*padding-top: 34px;*/
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #2f2f2f;
	list-style: none;
}

#typeList .tList .showList:hover{
	cursor: pointer;
}
/*=====首屏结束=====*/


nav{
	display: none;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 50px;
	background-color: #000;
}
nav .back{
	margin: 0 auto;
	max-width: 704px;
	height: 50px;
	line-height: 50px;
	border-bottom:  1px solid #2f2f2f;
}
nav .back img{
	margin: 0 15px -10px 24px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.qListDiv{
	display: none;
	margin-top: 50px;
}
.qListDiv .qList{	
	max-width: 704px;		
	margin: 0 auto;
	padding: 0 24px;
	color: #a4a4a4;
}
.qListDiv .qList li{
	list-style: none;
	border-bottom:  1px solid #2f2f2f;
}
.qListDiv .qList .listTitle{
	display: table;
	width: 100%;
	min-height: 50px;
	font-size: 15px;
}
.qListDiv .qList .listTitle:hover{
	cursor: pointer;
}
.qListDiv .qList .listTitle .ver{
	display: table-cell;
	vertical-align: middle;

}
.qListDiv .qList .fcw{
	background-color: #1f1f1f;
	color: #fff;
}
.qListDiv .qList .hide{
	max-height: 0px;
	padding: 0 10px;
	overflow: hidden;
	color: #fff;
}

.qListDiv .qList .show{
  background-color: #1f1f1f;
  max-height: 9999px;
  -moz-transition: max-height 5s ease-in-out;
  -o-transition: max-height 5s ease-in-out;
  -webkit-transition: max-height 5s ease-in-out;
  transition: max-height 5s ease-in-out;
}
.qListDiv .qList .hide0{ 
  -moz-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}


/*=====页脚开始=====*/
footer{
	max-width: 100%;
	padding: 96px 10px 50px 10px;
	color: #a4a4a4;
	text-align: center;
	font: 10px 'Microsoft YaHei';
}
footer a,footer span{
	color: #3b9591;
}
/*=====页脚结束=====*/

